
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}header {
    height: auto; 
    text-align: center; 
    background-color: rgb(232, 79, 24);
    border-radius: 5px;
}

.logo {
    font-weight: bolder;
    font-size: 35px;
    display: inline-block;
    margin-left: 30px;
    color: white;
}
nav ul {
    display: flex;
    justify-content: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}


nav ul li { 
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;  
}

nav ul li a:hover {
    color: yellow;
}

.right-container {
    height: auto;
    width: 100%; 
    display: inline-block;
    position: relative; 
}

.Photo {
    border-radius: 50%;
    margin: 0 auto; 
    width: 100%; 
    height: auto;
    display: block; 
    border: 2px solid transparent; 
    transition: border-color 0.5s ease; 
}

.Photo:hover {
    box-shadow: 0 0 35px 20px rgba(216, 61, 4, 0.7);
}   

.left-container {
    height: auto; 
    width: 100%; 
    margin-top: 20px;
    
    align-items: center;
}
p {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-left: 100px ; 
    width: 100%; 
}

h1 {
    font-size: 2.5rem; 
    color: rgb(71, 67, 67);
    margin-left: 0; 
    margin-top: -30px;
    width: auto; 
}

h4 {
    font-size: 55px;
    color: white;
}

body {
    background-color: rgb(238, 207, 186); 
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: auto;
    padding: 10px;
    background-color: rgb(232, 79, 24); 
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
    color: #fff;    
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: yellow;
}


.name {
    font-size: 2.5rem; 
    margin-top: 240px;
    margin-left: 100px; 
    padding-bottom: -9px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) { 
    body {
        padding: 10px; 
    }
    nav ul {
        display: flex;
        
        font-size: 20px;
        align-items: center;
        margin-left: 10px;
        margin-top: 20px;
    }

    nav ul li { 
        margin: 0 20px;
    }


    .left-container, .right-container {
        width: 100%; 
        display: block; 
    }

    .Photo {
        width: 350px; 
        height: 350px;
    }
    
.button1 {
    display: inline-block; 
    background-color: yello;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px auto; 
    width: auto;
    margin-left: 500px;
   
    
}
}
